:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, html {
  min-height: 100%;
  /* overflow-x: hidden; */
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
}

.toggle-icon {
  border-radius: 10px;
  border: 1px solid black;
  padding: 8px;
  margin-right: 27px;
  transition: background-color 0.3s;
}

.toggle-icon:hover {
  background-color: black;
  color: white;
}




button:hover {
  background-color: #ececec;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.components-div {
  padding: 25px;
  border: solid black;
}



.cv-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 210mm;
  height: 297mm;
  transform: scale(0.75);
  transform-origin: top center;
  padding: 10mm;
  margin-top: 20px;
  /* margin: auto; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.25;
  border: 1px solid #d3d3d3;
  page-break-after: always;
}


.personal-info, .educational-info, .practical-info, .project-info, .skill-info{
  border: solid black;
  border-radius: 10px;
  min-width: 450px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  /* align-items: center; Aligns children (form-header and form) centrally */
}

.form-header {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Positions the title and toggle icon on opposite sides */
  align-items: center;
  cursor: pointer;
  padding-left: 12px;
}

.form-title {
  flex: 1;
  text-align: left; /* Ensures the title aligns left with the labels below */
}



.personal-info-form, .educational-info-form, .practical-info-form, .project-info-form, .skill-info-form {
  width: 100%; /* Match width to ensure alignment with the toggle icon */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-name {
  font-size: 35px;
}

.personal-info-display {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0.1;
}


/* .educational-info-form {
  width: 100%;
} */


.form-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
}

.form-row:first-child {
  margin-top: 20px;
}

.form-row label,
.form-row input {
  flex: 1; /* Allow both label and input to expand */
}

.form-row label {
  margin-right: 10px;
}

.form-row .details {
  margin-right: -7px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
}

.button-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
}

.another-education-btn, .another-experience-btn, .another-project-btn, .another-skill-btn {
  margin-bottom: 10px;
}

.another-detail-btn {
  margin-top: 10px;
}


.button-container button {
  margin-bottom: -15px;
}

.button-container button:first-child {
  margin-top: 10px;
}

.button-container button:last-child {
  margin-bottom: 4px;
}

.remove-btn {
  background-color: transparent;
  padding: 0;
  margin-right: 2px;
}
.remove-btn:hover {
  background-color: transparent;
}


.education-title, .experience-title, .project-title, .skill-title {
  border-bottom: 0.4px solid black;
}


.description-title {
  margin-top: -17px;
}

.date-title {
  margin-top: -17px;
}

.cv-container ul {
  list-style-position: inside; /* Ensures bullets are inside the text block */
  padding-left: 0; /* Removes default padding */
}

.cv-container li {
  text-indent: -1.4em; /* Pulls bullet points to the left */
  padding-left: 1.5em; /* Pushes text to start right after the bullet point */
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
